// Mixins

.neo-shadow(){
    box-shadow: 4px 4px 5px #D1D9E6, -4px -4px 5px #FFF;
}

.reg-shadow(){
    box-shadow: 4px 4px 5px #D1D9E6;
}

.button-rounded-filled {
    // Sizing
    width: 40%;
    padding: 4% 3%;
    border-radius: 100px;
    background-color: @main-accent;
    // Text
    font-family: @font-roboto;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: @text-color-light;

    .reg-shadow();
}

.button-rounded-neo {
    // Sizing
    width: 40%;
    padding: 4% 3%;
    border-radius: 100px;
    background-color: #ECF0F3;
    // Text
    font-family: @font-roboto;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: @text-color;

    .neo-shadow();
}