header {
    border-top: 10px solid @main-accent;
    padding: 2% 0;
    display: flex;
    align-items: center;
    background: rgb(236,240,243);
    background: linear-gradient(0deg, rgba(236,240,243,1) 0%, rgb(220, 222, 224) 90%);
    justify-content: space-between;

    @media @mobile {
        flex-direction: column;
    }

    h1 {
        font-size: 2rem;
        font-weight: 900;
        width: 15%;
        text-align: center;
        color: @main-accent;
    }

    nav {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        
        a {
            text-align: center;
            font-size: 1rem;
            color: @text-color;
            width: 15%;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
                transition: 0.5s;
                color: @main-accent;
                text-shadow: 0px 3px 4px rgb(181, 188, 199);
            }

            i {
                margin-right: 5%;
            }
        }
    }
}